.stroller > .item-wrapper {
  display: flex;
  flex-grow: 1;
  padding: 5px 10px;
  margin: 1px;
}

.stroller > .item-wrapper > .item-label {
  width: 130px;
  max-width: 200px;
}

.stroller > .item-wrapper > .item-value {
  text-align: right;
  max-width: 60px;
  width: 100%;
}

.stroller > .item-wrapper > button {
  margin: 0 5px;
  cursor: pointer;
}

.stroller > .download {
  margin-top: 20px;
  margin-left: 10px;
  padding: 5px 20px;
  border-radius: 3px;
  cursor: pointer;
}
